header {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    position: relative; 
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
  }
  
  /* Estilos para el body */
  body {
    background-image:url(fondo.jpg);
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el contenedor */
  .container {
    margin: 0 auto;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  /* Estilos para el formulario */
  form {
    background-color: #fff;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  form h1 {
    margin-top: 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  form .form-control {
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    background-color: #f7f7f7;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
  }
  
  form input[type="submit"] {
    display: block;
    padding: 0.5rem;
    background-color: #3e8e41;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form input[type="submit"]:hover {
    background-color: #2f673a;
  }
  
  .error input[type="text"],
  .error input[type="email"],
  .error input[type="password"]
  .errir input[type="confirmPassword"] {
    border-color: #ff0000;
  }
  
  .error small {
    display: block;
    color: #ff0000;
    margin-top: 0.5rem;
  }
  
header h1 {
  text-align: center;
}