<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  
</head>
<body>

  {% load static %}
  <div class="container">
    <h1>Pagina de ejemplo</h1>
    <h2>Bienvenido {{ nombre }}</h2>
    <h3>Esta es la primera Categoria {{ Categorias.0 }}</h3>
    <i class="fa fa-list-ol" aria-hidden="true">
      {% for Categoria in Categorias %}
        <li>{{ Categoria }}</li>
      {% endfor %}    
    </i>
    <h3>{{ nombre }} tiene un hijo llamado {{ hijo.nombre }} que tiene {{ hijo.edad }} años</h3>
    
    
    <div class="container">
      <div class="row">
        <h1>LISTADO DE Vehiculos</h1>
      </div>
      <table border="1">
        <tr>
          <td>Patente</td>
          <td>Marca</td>
          <td>Modelo</td>
        </tr>
        {% for ve in Vehiculos %}
          <tr>
            <td>{{ ve.patente }}</td>
            <td>{{ ve.marca }}</td>
            <td>{{ ve.modelo }}</td>
          </tr>
        {% endfor %}    
      </table> 
      <a href="form_vehiculo">nuevoauto</a>
      <a href="menuPrincipl">paginaendesarollo</a>
    </div>

  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>
