body{
	background-image: url('/static/img/fondoHOME.jpg');
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
} 
.blog-header {
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
    
}

.blog-header-logo {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	font-size: 2.25rem;
    color: white;
}

.blog-header-logo:hover {
	text-decoration: none;
}
/* Estilos para el body */
body {
    background-image: url('/static/img/fondoHOME.jpg');
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
  }
  
  /* Estilos para el contenedor */
  .container {
    margin: 0 auto;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 50px 20px;
  }
  
  /* Estilos para el formulario */
  form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    padding: 30px;
  }
  
  form h2 {
    margin-top: 0;
  }
  
  form input[type="text"],
  form input[type="password"] {
    background-color: #f7f7f7;
    border:2px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
/* este es el style del boton ingresar*/  
form input[type="submit"] {
    background-color: #1CB94A;
    border: none;
    
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    
    transition: background-color 0.3s;
  }
  
  form input[type="submit"]:hover {
    background-color: #2f673a;
  }
  
 